.UsersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px 20px;
}

.UsersList-search-fields {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

@media (max-width: 800px) {
  .UsersList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
