.UserItem {
  background-image: linear-gradient(
    to bottom right,
    rgba(146, 82, 82, 0.4),
    rgba(67, 15, 15, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  border: 1px solid black;
  margin: 30px;
}

.UserItem-username {
  text-align: center;
  margin: 3px;
}

.UserItem-picture {
    height: 50px;
    width: 50px;
}

.UserItem-names {
  text-align: center;
  margin: 3px;
  font-size: medium;
}

.UserItem-description {
  text-align: center;
  font-size: small;
  margin: 3px;
}

.UserItem-status {
  text-align: center;
  font-size: small;
  margin: 3px;
}

.UserItem-gender {
  text-align: center;
  font-size: small;
  margin: 3px;
}

.UserItem-created-modified-on {
  text-align: center;
  font-size: small;
  font-weight: 100;
  row-gap: 0px;
}
